<!DOCTYPE html>
<html lang="zh" th:fragment="html (headerFragment,contentFragment)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}" />
    <script th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}"></script>
  </head>
  <body class="h-screen overflow-auto">
    <div class="wrapper-box flex !min-h-screen max-cs:flex-col">
      <header class="header sticky top-0 z-10 flex h-screen max-h-screen flex-col items-center">
        <th:block th:replace="${headerFragment}"> header </th:block>
      </header>
      <main class="main max-width min-width content-width mx-auto flex flex-1 flex-col !pb-56">
        <th:block th:replace="${contentFragment}"> content </th:block>
      </main>
      <footer class="footer sticky top-0 z-10 h-screen max-h-screen">123</footer>
    </div>

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        function updateStickyElements() {
          const header = document.querySelector(".header");
          const footer = document.querySelector(".footer");
          const viewportHeight = window.innerHeight;

          if (header) {
            header.style.maxHeight = `${viewportHeight}px`;
          }
          if (footer) {
            footer.style.maxHeight = `${viewportHeight}px`;
          }
        }

        updateStickyElements();

        window.addEventListener("resize", updateStickyElements);
      });
    </script> -->
  </body>
</html>
